html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 25px / 1 "Gamja Flower", cursive;
  background-color: #97d8b2;
  color: #006e90;
}

header {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

header,
h2 {
  margin: 0;
}

button {
  border: 2px solid black;
  padding: 0 20px;
  margin: 0 10px;
  height: 1.5rem;
  font-family: "Gamja Flower", cursive;
  font-size: 1rem;
  color: #db504a;
  background-color: #edff7a;
}

main {
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
}

input {
  border: 2px solid black;
  height: 1.5rem;
  margin-left: 7px;
}

.vs {
  font-size: 4rem;
  padding: 0 200px;
}

p.score {
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 7rem;
  font-weight: bold;
}

.update-teams {
  display: flex;
  justify-content: space-around;
}

.team-content {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  align-items: center;
}
